@{
    ViewBag.Title = "KendoGrid con OData hacia WebApi2";
}

<div class="demo-section" style="text-align:center;">
    <h2>Demo1</h2>
    <div class="completenessLevel">        
        <div id="profileCompleteness"></div>
    </div>
</div>

<h2>@ViewBag.Title</h2>

<style>
    .k-grid-content
    {
        min-height:390px;
    }
</style>
<div id="grid"></div>

@section scripts
{   
    
    
    <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js"></script>    
    <script src="~/Scripts/kendo/lang/kendo.es-ES.js"></script>
    <script>
        $(document).ready(function () {
            setProgressDemo(1);

            var modelPersona = kendo.data.Model.define({
                id: "Id",
                fields: {
                           Id:           { type: "number", editable: false, nullable: false }
                         , Nombre:       { type: "string", validation: { required: true }, }
                         , Apellido:     { type: "string", validation: { required: true }, }
                         , Edad:         { type: "number", validation: { required: true }, }
                         , Nacionalidad: { type: "string", validation: { required: true }, }
                         , Profesion:    { type: "string", validation: { required: false }, }
                },
            });
            
            var crudServiceBaseUrl = "/odata/Persona";
            var dataSource = new kendo.data.DataSource({
                type: "odata",
                transport: {                    
                    read: {
                        url: crudServiceBaseUrl ,
                        dataType: "json"
                    },                                
                    create: {
                        url: crudServiceBaseUrl,
                        dataType: "json"
                    },
                    update: {
                        url: function (data) {
                            return crudServiceBaseUrl + "(" + data.Id + ")";
                        },
                        dataType: "json"
                    },
                    destroy: {
                        url: function (data) {
                            return crudServiceBaseUrl + "(" + data.Id + ")";
                        },
                        dataType: "json"
                    },                    
                },
                batch: false,
                pageSize: 10,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
                schema: {
                    model: modelPersona,
                    data: function (data) {                        
                        if (data["value"])
                            return data["value"];
                        else
                        {
                            delete data["odata.metadata"]; 
                            return data;
                        }   
                    },
                    total: function (data) {
                        return data["odata.count"];
                    },
                },
                error: function (e) {
                    var responseJson = e.xhr.responseJSON;
                    if (responseJson != undefined) {
                        if (responseJson["odata.error"] != undefined) {
                            var error = responseJson["odata.error"];
                            var message = error.message.value + '\n\n' + error.innererror.message;
                            alert(message);
                        }
                    } else {
                        alert(e.xhr.status + "\n\n" + e.xhr.responseText + "\n\n" + e.xhr.statusText);
                    }
                    this.read();
                }
                           
            });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                },
                toolbar: ["create"],
                columns: [
                    { field: "Id", title: "Id"},
                    { field: "Nombre", title: "Nombre" },                    
                    { field: "Apellido", title: "Apellido" },
                    { field: "Edad", title: "Edad", format: "{0:n0}" },
                    { field: "Nacionalidad", title: "Nacionalidad" },
                    { field: "Profesion", title: "Profesion" },

                    { command: ["edit", "destroy"], width: "180px" }
                ],
                editable: "popup"                
            });
            

        });
    </script>

}