@{
    ViewBag.Title = "KendoGrid con MVC";
}

<div class="demo-section" style="text-align:center;">
    <h2>Demo 2</h2>
    <div class="completenessLevel">
        <div id="profileCompleteness"></div>
    </div>
</div>

<h2>@ViewBag.Title</h2>

<style>
    .k-grid-content
    {
        min-height:390px;
    }
</style>
<div id="grid"></div>

@section scripts
{   
    
    
    <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js"></script>    
    <script src="~/Scripts/kendo/lang/kendo.es-ES.js"></script>
    <script>
        $(document).ready(function () {
            setProgressDemo(2);

            
            var modelPersona = kendo.data.Model.define({
                id: "Id",
                fields: {
                    Id: { type: "number", editable: false, nullable: false }
                         , Nombre: { type: "string", validation: { required: true }, }
                         , Apellido: { type: "string", validation: { required: true }, }
                         , Edad: { type: "number", validation: { required: true }, }
                         , Nacionalidad: { type: "string", validation: { required: true }, }
                         , Profesion: { type: "string", validation: { required: false }, }
                },
            });
            
            var crudServiceBaseUrl = "/PersonaGridMVC",
                        dataSource = new kendo.data.DataSource({
                            type: "odata",
                            transport: {
                                read: {
                                    url: crudServiceBaseUrl + '/GetGridData',
                                    dataType: "json",
                                    contentType: 'application/json;charset=utf-8',
                                    type: 'GET',                                    
                                },                                
                                create: {
                                    url: crudServiceBaseUrl + '/Create',
                                    dataType: 'json',
                                    contentType: 'application/json;charset=utf-8',
                                    type: 'POST',
                                },
                                update: {
                                    url: crudServiceBaseUrl + '/Update',
                                    dataType: 'json',
                                    contentType: 'application/json;charset=utf-8',
                                    type: 'PUT',
                                },
                                destroy: {
                                    url: crudServiceBaseUrl + '/Delete',
                                    dataType: 'json',
                                    contentType: 'application/json;charset=utf-8',
                                    type: 'DELETE'
                                },
                                parameterMap: function (data, operation) {
                                    if (operation == "read") {
                                        var paramMap = kendo.data.transports.odata.parameterMap(data);
                                        return paramMap;                                        
                                    }
                                    else
                                    {
                                        var sendData = { dto: data }
                                        return kendo.stringify(sendData);
                                    }
                                },
                            },
                            batch: false,
                            pageSize: 10,
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true,
                            schema: {
                                model: modelPersona,
                                data: function (data) {
                                    if (data["Items"] !== undefined) {
                                        return data["Items"]; //read array de datos
                                    } else {
                                        return data; //resto de acciones
                                    }
                                },
                                total: function (data) {
                                    var r = parseInt(data["TotalCount"]);
                                    return r;
                                },
                            },
                            error: function (e) {
                                console.log(kendo.stringify(e));
                                try {
                                    alert(e.xhr.responseJSON.ExceptionMessage);
                                } catch (e) {
                                    alert('Ha ocurrido un error durante el proceso. Inténtelo de nuevo o póngase en contacto con soporte.');
                                }
                                this.cancelChanges();
                            },
                           
                        });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                },
                toolbar: ["create"],
                columns: [
                    { field: "Id", title: "Id"},
                    { field: "Nombre", title: "Nombre" },                    
                    { field: "Apellido", title: "Apellido" },
                    { field: "Edad", title: "Edad", format: "{0:n0}" },
                    { field: "Nacionalidad", title: "Nacionalidad" },
                    { field: "Profesion", title: "Profesion" },

                    { command: ["edit", "destroy"], width: "200px" }
                ],
                editable: "popup"                
            });
            


        });
    </script>

}