@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demos KendoUI #4sessions</h1>
    <p class="lead"></p>
    
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Empezamos</h2>
        <p>Listado por defecto creado por VS con sus plantillas</p>
        <p>
            <a class="btn btn-default" href="/Persona">Ver&raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Demo 1</h2>
        <p>Kendo Grid consumiendo un controllador expuesto por WebAPI2 con Odata</p>
        <p>
            <a class="btn btn-default" href="/PersonaGridWebApi2">Ver&raquo;</a>        
        </p>
    </div>
    <div class="col-md-3">
        <h2>Demo 2</h2>
        <p>KendoGrid consumiendo directamente nuestro Controler MVC. Porque no siempre podesmo elegir vivir en un mundo ideal</p>
        <p>
            <a class="btn btn-default" href="/PersonaGridMVC">Ver&raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Demo 3</h2>
        <p>KendoUI algo más</p>
        <p>
            <a class="btn btn-default" href="/PersonaListViewAndMore">Ver&raquo;</a>
        </p>
    </div>
    
</div>